<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Cuisines</title>
  </head>
  <body>
    <h1>{{ cuisine.getType }}</h1>

    {% if restaurants is not empty %}
      <p>Here are your restaurants:</p>
      <ul>
        {% for restaurant in restaurants %}
          <li>{{ restaurant.getName }}</li>
          <p>{{ restaurant.getDescription }}</p>
        {% endfor %}
      </ul>
    {% endif %}

    <p><a href="/cuisines/{{ cuisine.getId }}/edit">Edit this cuisine</a></p>

    <p><a href='/'>Home</a></p>

    <h4>Add a restaurant</h4>

   <form action='/restaurants' method='post'>
       <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId() }}">
       <label for='input_name'>Restaurant name</label>
       <input id='input_name' name='input_name' type='text'>

       <label for="description">Restaurant description</label>
       <input id="description" name="description" type="text">

       <button type='submit'>Add restaurant</button>
   </form>

   <p><a href='/'>Home</a></p>



  </body>
</html>
